<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674774903856-hb8kd24teghe1bamm1g7m3f3c6a9pogf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674774903856-hb8kd24teghe1bamm1g7m3f3c6a9pogf</string>
	<key>API_KEY</key>
	<string>AIzaSyBTTdP7sdOUtvaHKSKXk1sDpDtEyuViyQk</string>
	<key>GCM_SENDER_ID</key>
	<string>674774903856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.ungqueue</string>
	<key>PROJECT_ID</key>
	<string>ungqueue</string>
	<key>STORAGE_BUCKET</key>
	<string>ungqueue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674774903856:ios:8d8a7b32253082ecdc91f5</string>
</dict>
</plist>